Used advice from https://medium.com/@yadaviitb2018/working-with-periodic-labour-force-survey-plfs-data-in-python-79f8eba134ae

In [4]:
import numpy as np
import pandas as pd

In [65]:
layout = pd.read_excel(r"F:\00 microdata-gov-in\PLFS\PLFS_Data_22-23\Data_LayoutPLFS_2022-23.xlsx", header=2)

layout_hhv1 = layout[0:37]
layout_hhv1[["Byte Position", "Unnamed: 6"]] = layout_hhv1[["Byte Position", "Unnamed: 6"]].apply(pd.to_numeric, errors='coerce', axis=1)
layout_hhv1["Byte Position"]-=1

layout_hhrv = layout[42:74]
layout_hhrv[["Byte Position", "Unnamed: 6"]] = layout_hhrv[["Byte Position", "Unnamed: 6"]].apply(pd.to_numeric, errors='coerce', axis=1)
layout_hhrv["Byte Position"]-=1

layout_perv1 = layout[79:218]
layout_perv1[["Byte Position", "Unnamed: 6"]] = layout_perv1[["Byte Position", "Unnamed: 6"]].apply(pd.to_numeric, errors='coerce', axis=1)
layout_perv1["Byte Position"]-=1
layout_perv1["Full Name"] = layout_perv1[["Srl", "Full Name"]].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

layout_perrv = layout[223:338]
layout_perrv[["Byte Position", "Unnamed: 6"]] = layout_perrv[["Byte Position", "Unnamed: 6"]].apply(pd.to_numeric, errors='coerce', axis=1)
layout_perrv["Byte Position"]-=1
layout_perrv["Full Name"] = layout_perrv[["Srl", "Full Name"]].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

C:\Users\accounttest\AppData\Local\Temp\ipykernel_29052\642644613.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layout_hhv1[["Byte Position", "Unnamed: 6"]] = layout_hhv1[["Byte Position", "Unnamed: 6"]].apply(pd.to_numeric, errors='coerce', axis=1)
C:\Users\accounttest\AppData\Local\Temp\ipykernel_29052\642644613.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layout_hhv1["Byte Position"]-=1
C:\Users\accounttest\AppData\Local\Temp\ipykernel_29052\642644613.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layout_hhrv[["Byte Position", "Unnamed: 6"]] = layout_hhrv[["Byte Position", "Unnamed: 6"]].apply(pd.to_numeric, errors='coerce', axis=1)
C:\Users\accounttest\AppData\Local\Temp\ipykernel_29052\642644613.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layout_hhrv["Byte Position"]-=1
C:\Users\accounttest\AppData\Local\Temp\ipykernel_29052\642644613.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layout_perv1[["Byte Position", "Unnamed: 6"]] = layout_perv1[["Byte Position", "Unnamed: 6"]].apply(pd.to_numeric, errors='coerce', axis=1)
C:\Users\accounttest\AppData\Local\Temp\ipykernel_29052\642644613.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layout_perv1["Byte Position"]-=1
C:\Users\accounttest\AppData\Local\Temp\ipykernel_29052\642644613.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layout_perv1["Full Name"] = layout_perv1[["Srl", "Full Name"]].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)
C:\Users\accounttest\AppData\Local\Temp\ipykernel_29052\642644613.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layout_perrv[["Byte Position", "Unnamed: 6"]] = layout_perrv[["Byte Position", "Unnamed: 6"]].apply(pd.to_numeric, errors='coerce', axis=1)
C:\Users\accounttest\AppData\Local\Temp\ipykernel_29052\642644613.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layout_perrv["Byte Position"]-=1
C:\Users\accounttest\AppData\Local\Temp\ipykernel_29052\642644613.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  layout_perrv["Full Name"] = layout_perrv[["Srl", "Full Name"]].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [69]:
column_specs = list(zip(layout_hhv1["Byte Position"], layout_hhv1["Unnamed: 6"]))
column_names = list(layout_hhv1["Full Name"])
df_hhv1 = pd.read_fwf(r"F:\00 microdata-gov-in\PLFS\PLFS_Data_22-23\HHV1.TXT", header=None, colspecs=column_specs, names=column_names)
df_hhv1.to_excel(r"F:\00 microdata-gov-in\PLFS\PLFS_Data_22-23\HHV1.xlsx")

In [70]:
column_specs = list(zip(layout_hhrv["Byte Position"], layout_hhrv["Unnamed: 6"]))
column_names = list(layout_hhrv["Full Name"])
df_hhrv = pd.read_fwf(r"F:\00 microdata-gov-in\PLFS\PLFS_Data_22-23\HHRV.TXT", header=None, colspecs=column_specs, names=column_names)
df_hhrv.to_excel(r"F:\00 microdata-gov-in\PLFS\PLFS_Data_22-23\HHRV.xlsx")

In [ ]:
column_specs = list(zip(layout_perv1["Byte Position"], layout_perv1["Unnamed: 6"]))
column_names = list(layout_perv1["Full Name"])
df_perv1 = pd.read_fwf(r"F:\00 microdata-gov-in\PLFS\PLFS_Data_22-23\PERV1.TXT", header=None, colspecs=column_specs, names=column_names)
df_perv1.to_excel(r"F:\00 microdata-gov-in\PLFS\PLFS_Data_22-23\PERV1.xlsx")

,1_File Identification,2_Schdule,3_Quarter,4_Visit,5_Sector,6_State/Ut Code,7_District Code,8_NSS-Region,9_Stratum,10_Sub-Stratum,...,130_hours available for aditional worked on 1st day,131_Current Weekly Status (CWS),132_Industry Code (CWS),133_Occupation Code (CWS),134_Earnings For Regular Salaried/Wage Activity,135_Earnings For Self Employed,136_Ns count for sector x stratum x substratum x sub-sample,137_Ns count for sector x stratum x substratum,138_Sub-sample wise Multiplier,139_Occurence of FSUs in State x Sector x Stratum x SubStratum in 4 Quarters
0,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,31,21.0,833.0,7500,0,1,2,1772504,4
1,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,11,1.0,631.0,0,1200,1,2,1772504,4
2,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,12,49.0,112.0,0,48000,1,2,1772504,4
3,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,93,NaN,NaN,0,0,1,2,1772504,4
4,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,99,NaN,NaN,0,0,1,2,1772504,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419507,FVP6,104,Q8,V1,2,10,32,102,1,1,...,0,94,NaN,NaN,0,0,3,6,2220281,4
419508,FVP6,104,Q8,V1,2,10,32,102,1,1,...,0,11,49.0,832.0,0,10500,3,6,2220281,4
419509,FVP6,104,Q8,V1,2,10,32,102,1,1,...,0,21,1.0,612.0,0,0,3,6,2220281,4
419510,FVP6,104,Q8,V1,2,10,32,102,1,1,...,0,91,NaN,NaN,0,0,3,6,2220281,4
419511,FVP6,104,Q8,V1,2,10,32,102,1,1,...,0,99,NaN,NaN,0,0,3,6,2220281,4

In [ ]:
column_specs = list(zip(layout_perrv["Byte Position"], layout_perrv["Unnamed: 6"]))
column_names = list(layout_perrv["Full Name"])
df_perrv = pd.read_fwf(r"F:\00 microdata-gov-in\PLFS\PLFS_Data_22-23\PERRV.TXT", header=None, colspecs=column_specs, names=column_names)
df_perrv.to_excel(r"F:\00 microdata-gov-in\PLFS\PLFS_Data_22-23\PERRV.xlsx")

,1_File Identification,2_Schdule,3_Quarter,4_Visit,5_Sector,6_State/Ut Code,7_District Code,8_NSS-Region,9_Stratum,10_Sub-Stratum,...,96_hours available for aditional worked on 1st day,97_Current Weekly Status (CWS),98_Industry Code (CWS),99_Occupation Code (CWS),100_Earnings For Regular Salarid/Wage Activity,101_Earnings For Self Employed,102_Ns count for sector x stratum x substratum x sub-sample,103_Ns count for sector x stratum x substratum,104_Sub-sample wise Multiplier,105_Occurence of FSUs in State x Sector x Stratum x SubStratum in that Quarter including earlier visits
0,RVP6,104,Q5,V2,2,28,3,281,4,4,...,0,31,85.0,112.0,84600,0,3,6,55939,4
1,RVP6,104,Q5,V2,2,28,3,281,4,4,...,0,31,62.0,251.0,48000,0,3,6,55939,4
2,RVP6,104,Q5,V2,2,28,3,281,4,4,...,0,91,NaN,NaN,0,0,3,6,1074038,4
3,RVP6,104,Q5,V2,2,28,3,281,4,4,...,0,91,NaN,NaN,0,0,3,6,1074038,4
4,RVP6,104,Q5,V2,2,28,3,281,4,4,...,0,91,NaN,NaN,0,0,3,6,1074038,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507870,RVP6,104,Q8,V4,2,24,24,241,1,1,...,0,92,NaN,NaN,0,0,2,4,3700004,4
507871,RVP6,104,Q8,V4,2,24,24,241,1,1,...,0,91,NaN,NaN,0,0,2,4,3700004,4
507872,RVP6,104,Q8,V4,2,24,24,241,1,1,...,0,31,41.0,312.0,16000,0,2,4,1531036,4
507873,RVP6,104,Q8,V4,2,24,24,241,1,1,...,0,92,NaN,NaN,0,0,2,4,1531036,4
507874,RVP6,104,Q8,V4,2,24,24,241,1,1,...,0,95,NaN,NaN,0,0,2,4,1531036,4